---
layout: default
---


<div class="row g-5 mb-5">
  <div class="col-md-0">
    <h3 class="fw-bold">ShortBio</h3>
    {{ content }}
  </div>
  <!-- <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div> -->
</div>

<!-- {% include publications.html %} -->

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-0 mb-5">News</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->

<div class="row g-5 mb-5">
  <div class="col-md-0">
    <h3 class="fw-bold">Research Interests</h3>
    <li> Computer Vision (Segmentation, Tracking)</li>
    <li> Machine Learning, Deep Learning</li>
    <li> Medical Imaging</li>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-0">
    <h3 class="fw-bold">News</h3>
    <li><i>11. 2022</i> - I am awarded MSc in Applied Machine Learning with Distinction!! </li>
    <li><i>09. 2022</i> - I will be doing a research internship at SUTD (Singapore) as a visiting researcher! </li>
    <!-- <li><i>Month. Year</i> - This list is scrollable, with most recent updates at the top. -->
  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-0">
    <h3 class="fw-bold">Education</h3>
    <li>Imperial College London [ICL] <i> (10. 2021 - 10. 2022)</i>
      <ul>
      <li> MSc. Applied Machine Learning   </li> 
      </ul>
    </li>
     
    <li>University of Electronic Science and Technology of China [UESTC] <i>(09. 2017 - 06. 2021)</i>
      <ul>
        <li> BEng. Electronic Information Engineering   </li> 
      </ul>
    </li>
  </div>
</div>

